# Default values for reaction-storefront.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image: {}
#  repository: XXX
#  tag: latest
#  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

annotations: {}

service:
  type: ClusterIP
  port: 8080
  adminPort: 8081
  serviceMonitorLabel: application

ingress:
  enabled: true
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
    #
# hosts:
#   - host: www.example.com
#     paths: ['/']

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

#maxUnavailable: 1

nodeSelector: {}

tolerations: []

affinity: {}

config:
#  applePayMerchantCertificatePassphrase: <encrypted-string>
  applePayMerchantCertificatePath: /etc/reaction-storefront/certs/apple-pay-merchant-id.pem
#  applePayMerchantId: XXX
#  baseUrl: https://www.example.com/
#  elasticsearchUrl: http://elasticsearch:9200
  contentstack:
    enabled: true
    # accessToken: XXX
    # apiKey: XXX
    # environment: staging
  defaultCacheTTL: 3600
  defaultShippingMethodId: SPbMh5gdz24Wr4J94
  defaultShippingMethodRate: !!str 2.99
  elasticsearchUrl: http://elasticsearch-client:9200
  hydraAdminUrl: http://hydra:4445
  internalGraphqlUrl: http://reaction-core-web/graphql-beta
  oauth2:
    adminPort: 4445
    #  url: https://www.example.com/ouath2/auth
    #  clientId: XXX
    #  clientSecret: <encrypted-string>
    host: hydra
    #  idpHostUrl: https://api.example.com/
    #  redirectUrl: https://www.example.com/callback
    tokenUrl: http://hydra:4444/oauth2/token
  radial: {}
    #  clientId: XXX
    #  mode: sandbox
    #  rdfUrl: https://tst-rdf.radial.com/rdf/service/scripts?clientIdentifier=XXX
  sessionMaxAge: !!str 2592000000
  #sessionSecret: <encrypted-string>
  segmentAnalytics:
    enabled: true
    #  writeKey: XXX
  stacktracecEnabled: false
  sentry:
    authToken: cfd896342463403298b3256945c1fc8e34a4a7e60a62413295b84a779925c73d
    sourcemapToken: 8218b9a6348611e9bffe4201c0a8d02a
    #  dsn: https://XXX@sentry.io/XXX
    enabled: false
    #  environment: staging
    org: sportsdirect
    #  project: XXX

horizontalPodAutoscaler:
  enabled: false
  #  averageUtilization: 50
  #  min: 1
  #  max: 3

monitoring:
  enabled: true
  interval: 30s
