{{- $fullName := include "reaction-storefront.fullname" . -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullName }}-config
  labels:
    app.kubernetes.io/name: {{ $fullName }}
    app.kubernetes.io/component: frontend
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ $fullName }}
data:
  CANONICAL_URL: {{ required "storefront.baseUrl not defined." .Values.storefront.baseUrl | quote }}
  CLOUDINARY_FOLDER: {{ required "storefront.cloudinaryFolder not defined." .Values.storefront.cloudinaryFolder | quote }}
  DEFAULT_SHIPPING_METHOD_ID: {{ required "storefront.defaultShippingMethodId not defined." .Values.storefront.defaultShippingMethodId | quote }}
  DEFAULT_SHIPPING_METHOD_RATE: {{ required "storefront.defaultShippingMethodRate not defined." .Values.storefront.defaultShippingMethodRate | quote }}
  ELASTICSEARCH_URL: {{ required "storefront.elasticearchUrl not defined." .Values.storefront.elasticsearchUrl | quote }}
  GRAPHQL_INTROSPECTION_ENABLED: {{ required "graphql.introspectionEnabled not defined." .Values.graphql.introspectionEnabled | quote }}
  GRAPHQL_PLAYGROUND_ENABLED: {{ required "graphql.playgroundEnabled not defined." .Values.graphql.playgroundEnabled | quote }}
  IMAGE_URL: {{ required "storefront.imageUrl not defined." .Values.storefront.imageUrl | quote }}
  INTERNAL_GRAPHQL_URL: {{ required "graphql.url not defined." .Values.graphql.url | quote }}
  PLACEHOLDER_IMAGE_URL_GALLERY: {{ .Values.storefrontPlaceholder.imageUrlGallery | default "/resources/placeholder.gif" | quote }}
  PLACEHOLDER_IMAGE_URL_GRID: {{ .Values.storefrontPlaceholder.imageUrlGrid | default "/resources/placeholder.gif" | quote }}
  PRINT_ERRORS: {{ .Values.storefront.stacktraceEnabled | default false | quote }}
  SEARCH_ENABLED: "true"
  SESSION_MAX_AGE_MS: {{ required "storefront.sessionMaxAge not defined." .Values.storefront.sessionMaxAge | quote }}
  STOREFRONT: {{ required "storefront.name not defined." .Values.storefront.name | quote }}
