{{- $fullName := include "reaction-outbound-content-feed.fullname" . -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "reaction-outbound-content-feed.name" . }}
    app.kubernetes.io/component: feeds
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "reaction-outbound-content-feed.chart" . }}
data:
  BATCH_SIZE: {{ required "config.batchSize not defined." .Values.config.batchSize | quote }}
  CLOUD_NAME: {{ required "config.cloudName not defined." .Values.config.cloudName | quote }}
  CLOUD_FOLDER: {{ required "config.cloudFolder not defined." .Values.config.cloudFolder | quote }}
  EXTERNAL_EXPORT_BUCKET_NAME: {{ required "config.s3ExternalExportBucketName not defined." .Values.config.s3ExternalExportBucketName | quote }}
  INTERNAL_EXPORT_BUCKET_NAME: {{ required "config.s3InternalExportBucketName not defined." .Values.config.s3InternalExportBucketName | quote }}
  JAEGER_ENDPOINT: {{ required "config.jaegerEndpoint not defined." .Values.config.jaegerEndpoint | quote }}
  KAFKA_BOOTSTRAP_SERVERS: {{ required "config.kafkaBootstrapServers not defined." .Values.config.kafkaBootstrapServers | quote }}
  KAFKA_TOPIC_CONTENT_FEED_STATUS: {{ required "config.kafkaTopicContentFeedStatus not defined." .Values.config.kafkaTopicContentFeedStatus | quote }}
  KAFKA_TOPIC_CONTENT_FEED_ERRORS: {{ required "config.kafkaTopicContentFeedErrors not defined." .Values.config.kafkaTopicContentFeedErrors | quote }}
  KAFKA_PARTITION_CONTENT_FEED_STATUS: {{ required "config.kafkaPartitionContentFeedStatus not defined." .Values.config.kafkaPartitionContentFeedStatus | quote }}
  KAFKA_PARTITION_CONTENT_FEED_ERRORS: {{ required "config.kafkaPartitionContentFeedErrors not defined." .Values.config.kafkaPartitionContentFeedErrors | quote }}
  MONGODB_NAME: {{ required "config.mongoDbName not defined." .Values.config.mongoDbName | quote }}
  PRICEBOOK_ID: {{ required "config.pricebookId not defined." .Values.config.pricebookId | quote }}
  SITE_CODE: {{ required "config.siteCode not defined." .Values.config.siteCode | quote }}
  STOREFRONT_BASE_URL: {{ required "config.storefrontBaseUrl not defined." .Values.config.storefrontBaseUrl | quote }}
