{{- $fullName := include "reaction-outbound-content-feed.fullname" . -}}
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ $fullName }}
    app.kubernetes.io/component: feeds
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ $fullName }}
spec:
  schedule: "{{ .Values.schedule }}"
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        metadata:
{{- if .Values.annotations }}
          annotations:
            {{ toYaml .Values.annotations }}
{{- end }}
          labels:
            app.kubernetes.io/name: {{ $fullName }}
            app.kubernetes.io/instance: {{ .Release.Name }}
        spec:
          restartPolicy: Never
          containers:
          - name: {{ .Chart.Name }}
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            env:
              - name: EXTERNAL_EXPORT_BUCKET_NAME
                valueFrom:
                  configMapKeyRef:
                    name: {{ .Values.bucketsConfigMap }}
                    key: BUCKET_FEEDS_OUTBOUND_CONTENT
              - name: INTERNAL_EXPORT_BUCKET_NAME
                valueFrom:
                  configMapKeyRef:
                    name: {{ .Values.bucketsConfigMap }}
                    key: BUCKET_FEEDS_OCF
            envFrom:
              - configMapRef:
                  name: {{ $fullName }}
              - configMapRef:
                  name: {{ .Values.kafkaConfigMap }}
              - secretRef:
                  name: {{ .Values.mongodbSecret }}
            # resource requests/limits
            resources:
              requests:
                memory: {{ .Values.resources.requests.memory }}
                cpu: {{ .Values.resources.requests.cpu }}
              limits:
                memory: {{ .Values.resources.limits.memory }}
                cpu: {{ .Values.resources.limits.cpu }}
          {{- if .Values.imagePullSecret }}
          imagePullSecrets:
            - name: "{{ .Values.imagePullSecret }}"
          {{- end }}
