apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ include "redis.fullname" . }}
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  labels:
    {{- include "redis.labels" . | nindent 4 }}
spec:
  encryptedData:
    REDIS_URL: {{ required "config.redisUrl not defined." .Values.config.redisUrl | quote }}
