horizontalPodAutoscaler:
  enabled: true
  averageUtilization: 70
  min: 1
  max: 10
persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 10Gi
mountPath: /data
service:
  type: ClusterIP
  httpPort: 80
  apiPort: 8888
  healthcheckPort: 3000
  jmxPort: 9010
  serviceMonitorLabel: application
ingress:
  enabled: false
  hosts:
    - host: example.com
      paths: ['/']
jmx:
  port: 5556
  service:
    type: ClusterIP
  envVars:
  -   key: JMX_HOST_PORT
      value: localhost:9010
#resources:
#    requests:
#        memory: 3Gi
#        cpu: 500m
#    limits:
#        memory: 4Gi
#        cpu: 1000m
