imagePullSecrets: []
horizontalPodAutoscaler:
  enabled: true
  averageUtilization: 70
  min: 1
  max: 10
persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 10Gi
mountPath: /data
service:
  type: ClusterIP
  httpPort: 80
  apiPort: 8888
  healthcheckPort: 3000
  jmxPort: 9010
  serviceMonitorLabel: application
ingress:
  enabled: false
  hosts:
    - host: example.com
      paths: ['/']
jmx:
  port: 5556
  service:
    type: ClusterIP
  envVars:
  -   key: JMX_HOST_PORT
  value: localhost:9010
config:
  kafkaStreamsApplicationServer: "reaction-pricing-engine:3000"
  kafkaStreamsStateDir: "/data/kafka-streams"
  keySerializer: "org.apache.kafka.common.serialization.StringSerializer"
  valueSerializer: "io.confluent.kafka.streams.serdes.avro.GenericAvroSerializer"
  keySubjectNameStrategy: "io.confluent.kafka.serializers.subject.RecordNameStrategy"
  valueSubjectNameStrategy: "io.confluent.kafka.serializers.subject.RecordNameStrategy"
  kafkaStreamsApplicationId: "reaction.pricing.v1"
  keySerde: "org.apache.kafka.common.serialization.Serdes$StringSerde"
  valueSerde: "io.confluent.kafka.streams.serdes.avro.GenericAvroSerde"
  producerInterceptorClasses: "io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor"
  consumerInterceptorClasses: "io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor"
  pricebookEventsTopic: "reaction.pricing.pricebook-events.avro-gen1"
  pricebookAggregatesTopic: "reaction.pricing.pricebook-aggregates.avro-gen1"
  pricebookAggregatesStateStoreName: "reaction.pricing.pricebook-aggregates-store.avro-gen1"
  pricebookEntryEventsTopic: "reaction.pricing.pricebook-entry-events.avro-gen1"
  pricebookEntryAggregatesTopic: "reaction.pricing.pricebook-entry-aggregates.avro-gen1"
  pricebookEntryAggregatesStateStoreName: "reaction.pricing.pricebook-entry-aggregates-store.avro-gen1"
  pricesByIdAggregatesTopic: "reaction.pricing.prices-by-id-aggregates.avro-gen1"
  pricesByIdStateStoreName: "reaction.pricing.prices-by-id-aggregates-store.avro-gen1"
#resources:
#    requests:
#        memory: 3Gi
#        cpu: 500m
#    limits:
#        memory: 4Gi
#        cpu: 1000m
