# Default values for reaction-core.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image: {}
#  repository: XXX
#  tag: latest
#  pullPolicy: IfNotPresent
imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

annotations: {}

service:
  type: ClusterIP
  port: 80
  adminPort: 3001
  serviceMonitorLabel: application

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
    #
# hosts:
#   - host: www.example.com
#     paths: ['/']

config:
  constantPublisherMode: false
  constantPublisherPauseSeconds: 300
  defaultShippingMethodId: SPbMh5gdz24Wr4J94
  defaultShippingMethodRate: "2.99"
  graphqlIntrospectionEnabled: false
  graphqlPlaygroundEnabled: false
  healthchecksEnabled: false
  hydraAdminUrl: http://hydra:4445
  hydraOauth2IntrospectUrl: http://hydra:4445/oauth2/introspect
  initialImport: false
  shippableInventoryConsumerEnabled: false
  kafkaTopicCatalogSyncProducts: etl.catalog-sync.products.json-gen1
  kafkaTopicEtlShippableInventoryStatus: etl.shippable-inventory.inventory-status.json-gen1
  kafkaTopicEtlShippableInventoryStream: etl.shippable-inventory.inventory-data.json-gen1
  kafkaTopicImportOrderStatusOrders: etl.import-order-status.status.json-gen1
  kafkaTopicImportTaxCodesTaxcodes: etl.import-tax-codes.tax-codes.json-gen1
  kafkaTopicLoyaltyPluginDbUpdates: etl.loyalty-db-updates.json-gen1
  kafkaTopicLoyaltyPluginDbUpdatesStatus: etl.loyalty-db-updates-status.json-gen1
  kafkaTopicPricebooks: reaction.pricing.pricebook-aggregates.avro-gen1
  kafkaTopicPricesById: reaction.pricing.prices-by-id-aggregates.avro-gen1
  kafkaTopicProductImportErrors: etl.product-import.errors.json-gen1
  kafkaTopicProductImportProducts: etl.product-import.products.status.json-gen1
  kafkaTopicRadialItemExportStatus: etl.radial-item-export.status.json-gen1
  kafkaTopicProductImportErrorsPartitions: 3
  kafkaTopicProductImportProductsPartitions: 3
  logFormat: json
  logLevel: info
  loyaltyConsumerEnabled: false
  metricsEnabled: false
  metricsHost: 0.0.0.0
  metricsPath: /metrics
  metricsPort: 3001
  pricingConsumerEnabled: false
  productConsumerEnabled: false
  productPublisherAutoPublish: false
  profilingEnabled: false
  radialItemExportConsumerEnabled: false
  importOrderStatusConsumerEnabled: false
  skipFixtures: 1
  taxesConsumerEnabled: false
  user: "Reaction Admin"

resources:
  limits:
    cpu: 2
    memory: 4Gi
  requests:
    cpu: 300m
    memory: 512Mi

#maxUnavailable: 1

nodeSelector: {}

tolerations: []

affinity: {}

core: {}
#  name: example
#  baseUrl: https://www.example.com/
#  elasticsearchUrl: http://elasticsearch:9200
#  imageUrl: https://www.example.com/
#  defaultShippingMethodRate: 2.99
#  printErrors: false
#  sessionMaxAge: 2592000000

horizontalPodAutoscaler:
  enabled: false
  #  averageUtilization: 50
  #  min: 1
  #  max: 3
