apiVersion: v1
kind: Pod
metadata:
  labels:
    {{- include "api-migrations.labels" . | nindent 4 }}
  name: {{ include "api-migrations.name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  containers:
    image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
    imagePullPolicy: {{ .Values.image.pullPolicy }}
    name: {{ .Chart.Name }}
    envFrom:
    - secretRef:
        name: {{ .Values.secretName }}
    env:
      {{- if .Values.env }}
      {{- toYaml .Values.env | nindent 4 }}
      {{- end }}
    resources:
      {{- toYaml .Values.resources | nindent 6 }}
  restartPolicy: Never
