{{- if .Values.horizontalPodAutoscaler.enabled -}}
apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Release.Name }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: frontend
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "reaction-core.chart" . }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Release.Name }}
  minReplicas: {{ .Values.horizontalPodAutoscaler.min | default 1 }}
  maxReplicas: {{ .Values.horizontalPodAutoscaler.min | default 3 }}
  targetCPUUtilizationPercentage: {{ .Values.horizontalPodAutoscaler.averageUtilization | default 50 }}
{{- end }}
