{{- if .Values.maxUnavailable -}}
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: {{ Release.Name }}
    app.kubernetes.io/name: {{ Release.Name }}
    app.kubernetes.io/component: frontend
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "reaction-core.chart" . }}
spec: 
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ Release.Name }}
      app.kubernetes.io/component: frontend
      app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}
