{{- if .Values.maxUnavailable -}}
{{- $fullName := include "reaction-core.fullname" . -}}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "reaction-core.name" . }}
    app.kubernetes.io/component: core
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "reaction-core.chart" . }}
spec: 
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "reaction-core.name" . }}
      app.kubernetes.io/component: core
      app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}
