{{- $fullName := include "reaction-core.fullname" . -}}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "reaction-core.name" . }}
    app.kubernetes.io/component: core
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "reaction-core.chart" . }}
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
spec:
  encryptedData:
{{- if .Values.config.listrakEnabled }}
    LISTRAK_CLIENT_ID: {{ .Values.config.listrakClientId }}
    LISTRAK_CLIENT_SECRET: {{ .Values.config.listrakClientSecret }}
{{- end }}
    RADIAL_API_KEY: {{ required "config.radialApiKey not defined." .Values.config.radialApiKey }}
    RADIAL_PASSWORD: {{ required "config.radialPassword not defined." .Values.config.radialPassword }}
    RADIAL_USERNAME: {{ required "config.radialUsername not defined." .Values.config.radialUsername }}
