{{- $fullName := include "reaction-storefront.fullname" . -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ $fullName }}
    app.kubernetes.io/component: frontend
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ $fullName }}
data:
  CANONICAL_URL: {{ required "config.baseUrl not defined." .Values.config.baseUrl | quote }}
  APPLE_PAY_ASSOCIATION_DOMAIN: {{ required "config.baseUrl not defined." .Values.config.baseUrl | quote }}
  APPLE_PAY_MERCHANT_CERTIFICATE_PATH: {{ required "config.applePayMerchantCertificatePath not defined." .Values.config.applePayMerchantCertificatePath | quote }}
{{- if .Values.config.applePayMerchantId }}
  APPLE_PAY_MERCHANT_ID: {{ required "config.applePayMerchantId not defined." .Values.config.applePayMerchantId | quote }}
{{- end }}
{{- if .Values.config.contentSecurityPolicy.policy }}
  CSP_POLICY: {{ .Values.config.contentSecurityPolicy.policy | quote }}
  CSP_POLICY_REPORT_URI: {{ required "config.contentSecurityPolicy.policyReportUri is not defined." .Values.config.contentSecurityPolicy.policyReportUri | quote }}
{{- end }}
{{- if .Values.config.contentSecurityPolicy.reportOnlyPolicy }}
  CSP_REPORT_ONLY_POLICY: {{ .Values.config.contentSecurityPolicy.reportOnlyPolicy | quote }}
  CSP_REPORT_ONLY_POLICY_REPORT_URI: {{ required "config.contentSecurityPolicy.reportOnlyPolicyReportUri is not defined." .Values.config.contentSecurityPolicy.reportOnlyPolicyReportUri | quote }}
{{- end }}
{{- if .Values.config.contentstack.enabled }}
  CONTENTSTACK_ACCESS_TOKEN: {{ required "config.contentstack.accessToken is not defined." .Values.config.contentstack.accessToken | quote }}
  CONTENTSTACK_API_KEY: {{ required "config.contentstack.apiKey is not defined." .Values.config.contentstack.apiKey | quote }}
  CONTENTSTACK_ENVIRONMENT_NAME: {{ required "config.contentstack.environment is not defined." .Values.config.contentstack.environment | quote }}
{{- end }}
{{- if .Values.config.cloudinary.folder }}
  CLOUDINARY_FOLDER: {{ .Values.config.cloudinary.folder | quote }}
{{- end }}
  CLOUDINARY_NAME: {{ required "config.cloudinary.name not defined." .Values.config.cloudinary.name | quote }}
  CLOUDINARY_DOMAIN: {{ required "config.cloudinary.domain not defined." .Values.config.cloudinary.domain | quote }}
  DEFAULT_CACHE_TTL: {{ required "config.defaultCacheTTL not defined." .Values.config.defaultCacheTTL | quote }}
  DEFAULT_SHIPPING_METHOD_ID: {{ required "config.defaultShippingMethodId not defined." .Values.config.defaultShippingMethodId | quote }}
  DEFAULT_SHIPPING_METHOD_RATE: {{ required "config.defaultShippingMethodRate not defined." .Values.config.defaultShippingMethodRate | quote }}
  ELASTICSEARCH_URL: {{ required "config.elasticsearchUrl not defined." .Values.config.elasticsearchUrl | quote }}
{{- if .Values.config.healthcheck.applePay }}
  HEALTHCHECK_APPLEPAY: {{ .Values.config.healthcheck.applePay | quote }}
{{- end }}
{{- if .Values.config.healthcheck.cardAmericanExpress }}
  HEALTHCHECK_CARD_AMERICANEXPRESS: {{ .Values.config.healthcheck.cardAmericanExpress | quote }}
{{- end }}
{{- if .Values.config.healthcheck.cardDiscoverCard }}
  HEALTHCHECK_CARD_DISCOVER: {{ .Values.config.healthcheck.cardDiscoverCard | quote }}
{{- end }}
{{- if .Values.config.healthcheck.cardMasterCard }}
  HEALTHCHECK_CARD_MASTERCARD: {{ .Values.config.healthcheck.cardMasterCard | quote }}
{{- end }}
{{- if .Values.config.healthcheck.cardVisa }}
  HEALTHCHECK_CARD_VISA: {{ .Values.config.healthcheck.cardVisa | quote }}
{{- end }}
{{- if .Values.config.healthcheck.orderCompleted }}
  HEALTHCHECK_ORDERCOMPLETED: {{ .Values.config.healthcheck.orderCompleted | quote }}
{{- end }}
{{- if .Values.config.healthcheck.payPal }}
  HEALTHCHECK_PAYPAL: {{ .Values.config.healthcheck.payPal | quote }}
{{- end }}
  HYDRA_ADMIN_URL: {{ required "config.hydraAdminUrl not defined." .Values.config.hydraAdminUrl | quote }}
  INTERNAL_GRAPHQL_URL: {{ required "config.internalGraphqlUrl not defined." .Values.config.internalGraphqlUrl | quote }}
  MAPBOX_TOKEN: {{ required "config.mapboxToken is not defined." .Values.config.mapboxToken | quote }}
  OAUTH2_ADMIN_PORT: {{ required "config.ouath2.adminPort not defined." .Values.config.oauth2.adminPort | quote }}
  OAUTH2_AUTH_URL: {{ required "config.oauth2.authUrl not defined." .Values.config.oauth2.authUrl | quote }}
  OAUTH2_CLIENT_ID: {{ required "config.oauth2.clientId not defined." .Values.config.oauth2.clientId | quote }}
  OAUTH2_HOST: {{ required "config.oauth2.host not defined." .Values.config.oauth2.host | quote }}
  OAUTH2_IDP_HOST_URL: {{ required "config.oauth2.idpHostUrl not defined." .Values.config.oauth2.idpHostUrl | quote }}
  OAUTH2_REDIRECT_URL: {{ required "config.oauth2.redirectUrl not defined." .Values.config.oauth2.redirectUrl | quote }}
  OAUTH2_TOKEN_URL: {{ required "config.oauth2.tokenUrl not defined." .Values.config.oauth2.tokenUrl | quote }}
  PRINT_ERRORS: {{ .Values.config.stacktraceEnabled | default false | quote }}
  RADIAL_CLIENTID: {{ required "config.radial.clientId not defined." .Values.config.radial.clientId | quote }}
  RADIAL_MODE: {{ required "config.radial.mode not defined." .Values.config.radial.mode | quote }}
  RADIAL_RDF_URL: {{ required "config.radial.rdfUrl not defined." .Values.config.radial.rdfUrl | quote }}
  SEARCH_ENABLED: "true"
{{- if .Values.config.segmentAnalytics.enabled }}
  SEGMENT_ANALYTICS_WRITE_KEY: {{ required "config.segmentAnalytics.writeKey not defined." .Values.config.segmentAnalytics.writeKey | quote }}
  SEGMENT_ANALYTICS_SERVER_WRITE_KEY: {{ required "config.segmentAnalytics.serverWriteKey not defined." .Values.config.segmentAnalytics.serverWriteKey | quote }}
{{- end }}
{{- if .Values.config.sentry.enabled }}
  SENTRY_AUTH_TOKEN: {{ required "config.sentry.authToken not defined" .Values.config.sentry.authToken | quote }}
  SENTRY_SOURCEMAP_TOKEN: {{ required "config.sentry.sourcemapToken not defined" .Values.config.sentry.sourcemapToken | quote }}
  SENTRY_DSN: {{ required "config.sentry.dsn not defined" .Values.config.sentry.dsn | quote }}
  SENTRY_ENV: {{ required "config.sentry.environment not defined" .Values.config.sentry.environment | quote }}
  SENTRY_KEY: {{ required "config.sentry.key not defined" .Values.config.sentry.key | quote }}
  SENTRY_ORG: {{ required "config.sentry.org not defined" .Values.config.sentry.org | quote }}
  SENTRY_PROJECT: {{ required "config.sentry.project not defined" .Values.config.sentry.project | quote }}
{{- end }}
  SESSION_MAX_AGE_MS: {{ required "config.sessionMaxAge not defined." .Values.config.sessionMaxAge | quote }}
{{- if .Values.config.productCountReportEnabled }}
  PRODUCT_COUNT_REPORT_ENABLED: {{ .Values.config.productCountReportEnabled | quote }}
{{- end }}
{{- if .Values.config.tagAttributesReportEnabled }}
  TAG_ATTRIBUTES_REPORT_ENABLED: {{ .Values.config.tagAttributesReportEnabled | quote }}
{{- end }}
{{- if .Values.config.reactionVersionThree }}
  REACTION_VERSION_THREE: {{ .Values.config.reactionVersionThree | quote }}
{{- end }}
