{{- if .Values.config.sentry.enabled }}
{{- $fullName := include "reaction-storefront.fullname" . -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $fullName }}-sentry
  labels:
    app.kubernetes.io/name: {{ $fullName }}-sentry
    app.kubernetes.io/component: frontend
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ $fullName }}
  annotations:
    "helm.sh/hook": "post-install,post-upgrade,post-rollback"
    "helm.sh/hook-delete-policy": "before-hook-creation"
    "helm.sh/hook-delete-timeout": "0"
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        app.kubernetes.io/managed-by: {{.Release.Service | quote }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      restartPolicy: Never
      containers:
        - name: {{ .Chart.Name }}-notify-sentry
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: SENTRY_AUTH_TOKEN
              value: {{ required "config.sentry.authToken not defined" .Values.config.sentry.authToken | quote }}
            - name: SENTRY_SOURCEMAP_TOKEN
              value: {{ required "config.sentry.sourcemapToken not defined" .Values.config.sentry.sourcemapToken | quote }}
            - name: SENTRY_DSN
              value: {{ required "config.sentry.dsn not defined" .Values.config.sentry.dsn | quote }}
            - name: SENTRY_ENV
              value: {{ required "config.sentry.environment not defined" .Values.config.sentry.environment | quote }}
            - name: SENTRY_ORG
              value: {{ required "config.sentry.org not defined" .Values.config.sentry.org | quote }}
            - name: SENTRY_PROJECT
              value: {{ required "config.sentry.project not defined" .Values.config.sentry.project | quote }}
          command:
            - yarn
            - sentry:deploy
{{- end }}
