apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "reaction-storefront.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "reaction-storefront.name" . }}
    app.kubernetes.io/component: storefront
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "reaction-storefront.chart" . }}
    monitoring: "{{ .Values.service.serviceMonitorLabel }}"
spec:
  endpoints:
  - interval: 30s
    port: admin
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "reaction-storefront.name" . }}
