{{- if .Values.maxUnavailable -}}
{{- $fullName := include "reaction-pricing-engine.fullname" . -}}
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: {{ $fullName }}
    app.kubernetes.io/name: {{ $fullName }}
    app.kubernetes.io/component: pricing-engine
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "reaction-pricing-engine.chart" . }}
spec: 
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ $fullName }}
      app.kubernetes.io/component: pricing-engine
      app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}
