apiVersion: v1
kind: Service
metadata:
  labels: {app.kubernetes.io/instance: flux-system, app.kubernetes.io/part-of: flux,
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}', control-plane: controller,
    helm.sh/chart: flux}
  name: webhook-receiver
  namespace: flux-system
spec:
  ports:
  - {name: http, port: 80, protocol: TCP, targetPort: http-webhook}
  selector: {app: notification-controller}
  type: ClusterIP
