name: Release Pull Request
on:
  workflow_dispatch:
    inputs:
      deployment:
        description: 'Which deployment to create a release for'
        required: true
        default: 'storefront'
        type: choice
        options:
          - storefront
          - reaction-core
          - reaction-etl-rom-order-status-import
          - reaction-sftp-to-s3-order-status
      environment:
        description: 'Target environment'
        type: choice
        required: true
        default: 'staging'
        options:
          - staging
          - production
      tag:
        description: 'The release tag for the deployment'
        required: true
        type: string

jobs:
  release-pull-request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update release tags
        run: |
          ENV=${{ github.event.inputs.environment }}
          echo ENV=${ENV^} >> $GITHUB_ENV
          ./bin/update-release.sh ${{github.event.inputs.deployment}} ${{ github.event.inputs.environment }} ${{ github.event.inputs.tag }}
      - uses: peter-evans/create-pull-request@v5
        with:
          title: '[${{ env.ENV }}] Release ${{ github.event.inputs.deployment }} ${{ github.event.inputs.tag }}'
          commit-message: 'gitops(${{ github.event.inputs.environment}}): Update ${{ github.event.inputs.deployment }} to ${{ github.event.inputs.tag }}'
          branch: 'gitops/${{ github.event.inputs.environment }}/${{ github.event.inputs.deployment }}-${{ github.event.inputs.tag }}'
          delete-branch: true
          token: ${{ secrets.ROBERTS50_GITHUB_PAT }}
